/* GENERAL STYLE */

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #081c54;
}

.square {
    position: fixed;
    background-color: rgb(0, 0, 0);
    opacity: 0.1;
    top: -20vmin;
    left: -15vmin;
    min-width: 75vmin;
    min-height: 75vmin;
    z-index: 0;
}

.circle {
    position: fixed;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.1;
    min-width: 75vmin;
    min-height: 75vmin;
    bottom: -15vmin;
    right: -15vmin;
}

.container-box {
    position: relative;
    height: 90%;
    z-index: 10;
    display: flex;
    margin: 0px 24px 1.25rem;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.h1-title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 40px;
    letter-spacing: .5rem;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.navbar-game {
    background-color: #222;
}

.container-box-game {
    position: relative;
    width: 100%;
    height: 82%;
}

.h2-title {
    color: white;
    font-family: 'Martian Mono', monospace;
    font-size: 25px;
    font-weight: bolder;
}

.footer-game {
    position: fixed;
    height: 58px;
    bottom: 0;
    width: 100%;
    background-color: #222 !important;
}

.pseudo {
    float: left;
    color: white;
    margin-left: 20px;
}

.error { 
    float: right;
    color: white;
    margin-right: 20px;
}



/* GIVE THE PSEUDO */

.input-pseudo {
    font-size: 18px;
    font-weight: bolder;
    min-height: 48px;
    min-width: 48px;
    margin-bottom: 0.625rem;
}

.button-pseudo {
    width: 100%;
    cursor: pointer;
    background: #333;
    color: white;
    border-radius: 4px;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 3%;
}

.footer-pseudo {
    position: fixed;
    height: 48px;
    bottom: 0;
    width: 100%;
    color: white;
}



/* LOADING PAGE */

#layer-1 {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.animation-starter {
    margin-top: 30px;
}



/* GAME PAGE */

#layer-2 {
    width: 100%;
    height: 100%;
}

.h1-message {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    letter-spacing: 10px;
    margin-bottom: 80px;
}

#layer-3 {
    display: none;
    width: 100%;
    height: 100%;
}

.completion {
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: rgb(98, 192, 98);
    margin: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

#message-f {
    font-size: 20px;
}

.message-p {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px 0;
    width: 50%;
}

@keyframes vibrate {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-2px, -2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    60% {
      transform: translate(-2px, 0);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0, 0);
    }
}

.vibrate {
    animation: vibrate 0.5s ease-out;
    transform-origin: center;
}

.give-response {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

/* ANIMATION FOR SCORE */

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .add-comment {
    position: absolute;
    right: 2%;
    bottom: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 30px;
    /* background-color: #eee; */
    /* vertical-align: middle; */
  }
  
  .plus-one {
    color: #1eff00;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fade-in-up;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  
  @keyframes fade-in-up {
    0%,
    10% {
      top: 50%;
      opacity: 1;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }

  /* END ANIMATION FOR SCORE */