<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="shortcut icon" href="#">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/game-style.css" %}">
    </head>

    <body>
        <div class="background">
            <div class="square"></div>
            <div class="circle"></div>

            <div class="container-box">
                <img src="{% static "css/medias/logo.svg" %}" style="height:55px; margin-bottom: 20px;">
                <form method="POST" id="pseudo-form" action="loading">
                    {% csrf_token %}
                    <input  type="text" name="player" class="form-control input-pseudo text-center" placeholder="Pseudo">
                    <input  type="text" style="display: none;" value={{redirection_uid}} name="uid" class="form-control input-pseudo text-center">
                    <button type="submit"  class="button-pseudo text-center">Valider</button>
                </form>
            </div>

            <div class="footer-pseudo">
                <p class="hp-text-p text-center">Create your own Mind Mania game for free by going to <b><a href="home">[link.com]</a></b>.</p>
            </div>
        </div>

        <script src="{% static "js/game-animation.js" %}"></script>
    </body>
</html>